@import DTOs.Multiplex
@(multiplex: List[Multiplex])
<!doctype html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/default.css")">

        <title>Multiplex</title>
    </head>
    <body>
    <div class="home" style="background-color:lightblue" onclick="location.href = '@routes.HomeController.index()'">
        <h2 style="text-align:center;padding: 10px 10px 10px 10px">Movie and Multiplex Management</h2>
    </div>
    <div>
        <table class="table table-hover" style="height:80%"><thead>
        <th scope ="col">Multiplex Name</th>
        <th scope ="col">Address</th>
        <th scope ="col">No of Screen</th>

        <th scope="col">Action</th>
        </thead>
            <tbody style="overflow:auto">
            @for(multiplex <- multiplex) {
            <tr>
                <td>@multiplex.getName</td>
                <td>@multiplex.getAddress</td>
                <td>@multiplex.getNumberOfScreens</td>
                <td>
                    <a href="@routes.AllotMovieController.listScreen(multiplex.getId)" class="btn btn-success a-btn-slide-text">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span>Allot Movie</span>
                    </a>
                    <a href='@routes.MultiplexController.editMultiplex(multiplex.getId)' class="btn btn-primary a-btn-slide-text">
                        <span class="glyphicon glyphicon-warning" aria-hidden="true"></span>
                        <span>Update</span>
                    </a>
                    <a href='@routes.MultiplexController.delete(multiplex.getId)' class="btn btn-danger a-btn-slide-text">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span>Delete</span>
                    </a>
                </td></tr>
            }    </tbody>
        </table>
    </div>
    <div>   <button type="button" class="btn btn-primary m-3" style=" width: 18rem;" onclick="location.href = '@routes.MovieController.createMovie()'">
        Add New Multiplex
    </button></div>

    </body>
</html>